" Handlers
sethandler <c-t> a:ide

sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim
sethandler <c-h> a:vim
sethandler <c-s> a:vim
sethandler <c-w> a:vim
sethandler <c-e> a:vim

" Options
set nooldundo

set relativenumber
set number

set visualbell

set clipboard+=unnamed
set clipboard+=ideaput

set commentary
set nerdtree

" Keymaps
nnoremap \o :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

let mapleader=" "
imap jk <Esc>

nnoremap <leader>za :action ToggleDistractionFreeMode<CR>

nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
noremap <leader>sx :action CloseActiveTab<CR>
nnoremap <leader>sm :action HideAllWindows<CR>
nnoremap <leader>xx :action CloseAllEditors<CR>

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <leader>bp :action PreviousTab<CR>
nnoremap <leader>bn :action NextTab<CR>

map <leader>ff :action SearchEverywhere<CR>

nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>

nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>ga :action Git.Add<CR>
nnoremap <leader>gm :action Git.Menu<CR>

map <leader>e :NERDTreeToggle<CR>