[submodule "main/nvim"]
	path = main/nvim
	url = https://github.com/raphaelweis/nvim.git
[submodule "main/starship"]
	path = main/starship
	url = https://github.com/raphaelweis/starship.git
[submodule "main/git"]
	path = main/git
	url = https://github.com/raphaelweis/git.git
[submodule "main/powershell"]
	path = main/powershell
	url = https://github.com/raphaelweis/powershell.git
