[submodule "nvim"]
	path = nvim
	url = https://github.com/raphaelweis/nvim.git
[submodule "starship"]
	path = starship
	url = https://github.com/raphaelweis/starship.git
[submodule "git"]
	path = git
	url = https://github.com/raphaelweis/git.git
[submodule "powershell"]
	path = powershell
	url = https://github.com/raphaelweis/powershell.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/raphaelweis/zsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/raphaelweis/tmux.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/raphaelweis/alacritty.git
[submodule "dunst"]
	path = dunst
	url = https://github.com/raphaelweis/dunst.git
[submodule "eww"]
	path = eww
	url = https://github.com/raphaelweis/eww.git
[submodule "fish"]
	path = fish
	url = https://github.com/raphaelweis/fish.git
[submodule "gtk-3.0"]
	path = gtk-3.0
	url = https://github.com/raphaelweis/gtk-3.0.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/raphaelweis/kitty.git
[submodule "pipewire"]
	path = pipewire
	url = https://github.com/raphaelweis/pipewire.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/raphaelweis/rofi.git
[submodule "swaylock"]
	path = swaylock
	url = https://github.com/raphaelweis/swaylock.git
[submodule "xremap"]
	path = xremap
	url = https://github.com/raphaelweis/xremap.git
[submodule "hypr"]
	path = hypr
	url = https://github.com/raphaelweis/hypr.git
[submodule "waybar"]
	path = waybar
	url = https://github.com/raphaelweis/waybar.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/raphaelweis/scripts.git
