* {
  font-size: 15;
}

window#waybar {
  border-radius: 5px;
  border: 2px solid #000000;
}

#workspaces button {
  min-height: 0px;
  min-width: 0px;
  margin: 5px 0px 5px 0px;
}

#workspaces button.active {
  color: red;
}

#clock {
  margin: 0px 10px 0px 10px;
}
