* {
  all: unset;
  font-family: "MesloLGS Nerd Font", monospace;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* window#waybar { */
/*   background-color: #3a3a3a; */
/*   border-radius: 10px; */
/*   border: 2px solid #000000; */
/* } */
.modules-left {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 2px solid #000000;
}
.modules-center {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 2px solid #000000;
}
.modules-right {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 2px solid #000000;
}

#mpris {
  margin: 0px 10px 0px 10px;
}

#workspaces {
  margin: 2px 5px 2px 5px;
}
#workspaces button {
  min-height: 0px;
  min-width: 0px;
  padding: 0px 10px 0px 10px;
}
#workspaces button.active {
  color: red;
}

#pulseaudio {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#backlight {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#cpu {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#memory {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#temperature {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#keyboard-state label {
  margin: 2px 2px 2px 2px;
  padding: 0px 10px 0px 10px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
#keyboard-state label.locked {
  background-color: red;
  border: 1px solid #330506;
}

#battery {
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#clock {
  font-weight: bold;
  margin: 2px 2px 2px 2px;
  padding: 0px 5px 0px 5px;
  background-color: grey;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
